# Node.js specific
node_modules/
npm-debug.log
yarn-error.log

# Environment Variables
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools
coverage/

# IDE specific
.DS_Store
.idea/
.vscode/

# Misc
tmp/
